<p class="fields">
	<%= f.collection_select :article_id, Article.all, :id, :title %>
	<%= f.text_field :quantity %>
	<%= f.hidden_field :_destroy %>
	<%= link_to_function 'Remove', "remove_fields(this)" %>
</p>