<p id="notice"><%= notice %></p>

<p>
  <b>Client name:</b>
  <%= @order.client_name %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @order.shipping_address %>
</p>

<%= render @order.order_lines %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
